.container {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.header {
    font-size: large;
}

.form-group-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-bottom: 600px;
}

.arbeiter-button {
    width: 45%;
    padding: 5px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}