<div *ngIf="arbeiter$ | async as arbeiter" class="container">
    <h4>Arbeitszeit von {{arbeiter.name}} hinzufügen - Aktuelle Stunden: {{arbeiter.stunden}}</h4>
    
    <div class="Lohn">
      Auszuzahlendes Gehalt: {{arbeiter.lohn}}
    </div>

    <button mat-flat-button class="arbeiter-button" (click)="erstellAbrechnung(arbeiter.id)">Lohnabrechnung erstellen</button>

    <button mat-flat-button class="arbeiter-button" (click)="downloadCsv(arbeiter.id)">Lohnabrechnungen als csv Datei herunterladen</button>
        
  </div>
  